@import "tailwindcss";
@import "@/shared/styles/animations.css";

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .badge {
    background: white !important;
    color: black !important;
    border: 1px solid black;
  }

  * {
    transition: none !important;
    animation: none !important;
  }

  img {
    filter: none !important;
  }
}